.shopModal{
    background-image: url('https://media.indiumgames.com/medialibrary/2014/07/MakingMap1.png');
    position: absolute;
    background-color: white;
    margin-top: 150px;
    margin-left: 365px;
    width: 512px;
    height: 520px;

    color: white;
    font-size: 16px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

/* .shopLeftContainer{
    width: 192px;
} */

.shopRightContainer{
    width: 100%;
    margin: 16px;
}

.shopSingleStat{
    
}