.characterCard{
    background-image: url('https://media.indiumgames.com/medialibrary/2014/07/MakingMap1.png');
    position: absolute;
    background-color: white;
    margin-top: 150px;
    margin-left: 160px;
    width: 700px;
    height: 400px;
}

.characterCardLeftContainer{
    width: 288px;
    padding: 16px;
}

.portraitContainer{
    width: 256px;
    margin-bottom: 16px;
}

.characterCardItemSlot{
    background-image: url("../../../assets/interface/equipment/blank/blank.png");
    background-size: cover;
    image-rendering: pixelated;
}


.characterCardStats{
    margin-top: 16px;
    color: white;
    font-size: 16px;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.charactedCardSingleStat{
    margin-left: 32px;
}

/* .charactedCardSingleStat :last-of-type{
    margin-right: 24px;
} */

.characterCardStats img{
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

.characterEquipped{
    /* border: 1px solid brown;
    box-sizing: border-box; */
    width: 192px;
    background-image: url('../../../assets/interface/woodBackground.jpg');
    /* width: 100%; */
    margin-left: 32px;
    border: 5px solid #828282;
    outline: 3px solid silver;
    box-sizing: content-box;
    background-color: gray;
}

.inventoryContainer{
    width: 384px;
    margin-left: 16px;
    margin-top: 32px;
}

.woodenButton{
    background-image: url('../../../assets/interface/woodenBackground.jpg');
    background-size: contain;
    width: 128px;
    height: 32px;
    margin-top: 32px;
    border: 1px solid brown;
    box-sizing: border-box;
    color: white;
}
