.characterCard{
    border: 1px solid teal;
    position: absolute;
    background-color: white;
    margin-top: 150px;
    margin-left: 160px;
    width: 700px;
    height: 400px;
}

.characterCardLeftContainer{
    width: 288px;
    padding: 16px;
}

.portraitContainer{
    width: 256px;
    margin-bottom: 32px;
}

.characterEquipped{
    /* border: 1px solid brown;
    box-sizing: border-box; */
    /* width: 192px; */
    width: 100%;

}

.inventoryContainer{
    margin-left: 16px;
    width: 384px;
}

.woodenButton{
    background-image: url('../../../assets//interface/woodenBackground.jpg');
    background-size: contain;
    width: 128px;
    height: 32px;
    border: 1px solid brown;
    box-sizing: border-box;
    color: white;
}
