.gridCell{
    height: 32px;
    width: 32px;
    /* box-sizing: 'border-box';
    border: 1px solid blue; */
}

.level{
    box-sizing: border-box;
    height:800px;
    width:800px;
    float: right;
    background-color: black;
}

.npcSprite{
    height: 48px;
    transform: translateY(-16px)
}

.throneRoom{
    background-image: url("../../../../assets/levelBackgrounds/throneRoomTest.png");
}

.castleCorridor{
    background-image: url("../../../../assets/levelBackgrounds/castleCorridor.png");
}
.castleFront{
    background-image: url("../../../../assets/levelBackgrounds/castleFront.png");
}
.capitalCrossroads{
    background-image: url("../../../../assets/levelBackgrounds/capitalCrossroads.png");
}

.westsideInn{
    background-image: url("../../../../assets/levelBackgrounds/betrayalInn.png");
}
.westsideInnBedrooms{
    background-image: url("../../../../assets/levelBackgrounds/westsideInnBedroom.png");
}

.route1{
    background-image: url("../../../../assets/levelBackgrounds/route1.png");
}
.route2{
    background-image: url("../../../../assets/levelBackgrounds/route2.png");
}

.abandonedBuilding{
    background-image: url("../../../../assets/levelBackgrounds/abandonedBuilding.png");
}
.abandonedBuildingInside{
    background-image: url("../../../../assets/levelBackgrounds/abandonedBuildingInside.png");
}

.capitalForest{
    background-image: url("../../../../assets/levelBackgrounds/capitalForest.png");
}

.campBattlefield{
    background-image: url("../../../../assets/levelBackgrounds/campBattlefield.png");
}

