.combatRewards{
    border: 1px solid teal;
    position: absolute;
    background-color: white;
    margin-top: 300px;
    margin-left: 212px;
    width: 600px;
    height: 232px;
}

.combatRewards h2{
    margin-top: 16px;
}

.combatRewards button{
    position: absolute;
    bottom: 16px;
}

/* .dialogue_text{
    width: 430px;
    justify-content: center;
    text-align: center;
    border: 1px solid blue;
} */