.allyInterface{
    position: fixed;
    height: 800px;
    width: 192px;
    border: 2px solid silver;
    background-color: black;
    color: white;
    /* background-color: aquamarine; */
}

.characterNameContainer{
    margin-top: 32px;
}

.characterCombatUiContainer{
    position: relative;
}
.buffIconContainer{
    position: absolute;
    top: 170px;
    left: 8px;
}


.characterPortrait{
    width: 96px;
    height: 96px;
    margin-left: 8px;
    /* margin-left: 32px; */
    border: 5px solid #828282;
    outline: 3px solid silver;
    margin-bottom: 16px;
    margin-top: 16px;
}


.enemyInterface{
    position: fixed;
    margin-left: 832px;
    height: 800px;
    width: 192px;
    border: 2px solid silver;
    background-color: black;
    color: white
    /* background-color: blueviolet; */
}

.combatScreen{
    position: fixed;
    /* left: 202px; */
    margin-left: 192px;
    height: 608px;
    width: 640px;
    /* border: 1px solid teal; */
    background-color: crimson;
}

.infoPanel{
    position: fixed;
    margin-left: 192px;
    margin-top: 608px;
    height: 192px;
    width: 640px;
    border-top: 2px solid silver;
    border-bottom: 2px solid silver;
    background-color: black;
    color: white;
    /* background-color: darkgoldenrod; */
    overflow-y: auto;
}

.infoBox{
    /* border: 1px solid blue; */
    width: 90%;
    /* height: 176px; */
        height: 94px;

    overflow: hidden;
}

.bar{
    position: relative;
    height: 96px;
    width: 16px;
    border: 1px solid #333;
    margin-top: 72px;
    /* margin-left: 24px; */
}

.barFiller{
    position: absolute;
    width: 14px;    
    transition: width .2s ease-in;
}

.barText{
   /* text-align: center; */
    height: 100%;
    width: 100%;
    transform: rotate(-90deg) translatey(-1px);
    font-size: 14px;
    color: white;
}