.allyInterface{
    position: fixed;
    height: 800px;
    width: 200px;
    /* border: 1px solid blue; */
    background-color: aquamarine;
}

.enemyInterface{
    position: fixed;
    margin-left: 802px;
    height: 800px;
    width: 200px;
    /* border: 1px solid blue; */
    background-color: blueviolet;
}

.combatScreen{
    position: fixed;
    /* left: 202px; */
    margin-left: 202px;
    height: 600px;
    width: 600px;
    /* border: 1px solid teal; */
    background-color: crimson;
}

.infoPanel{
    position: fixed;
    margin-left: 200px;
    margin-top: 600px;
    height: 200px;
    width: 600px;
    /* border: 1px solid pink; */
    background-color: darkgoldenrod;
    overflow-y: auto;
}