.allyInterface{
    position: fixed;
    height: 800px;
    width: 192px;
    /* border: 1px solid blue; */
    background-color: aquamarine;
}

.characterNameContainer{
    margin-top: 32px;
}

.characterPortrait{
    width: 96px;
    height: 96px;
    margin-left: 48px;
    border: 5px solid brown;
    outline: 5px solid red;
    margin-bottom: 16px;
    margin-top: 16px;
}


.enemyInterface{
    position: fixed;
    margin-left: 832px;
    height: 800px;
    width: 192px;
    /* border: 1px solid blue; */
    background-color: blueviolet;
}

.combatScreen{
    position: fixed;
    /* left: 202px; */
    margin-left: 192px;
    height: 608px;
    width: 640px;
    /* border: 1px solid teal; */
    background-color: crimson;
}

.infoPanel{
    position: fixed;
    margin-left: 192px;
    margin-top: 608px;
    height: 192px;
    width: 640px;
    /* border: 1px solid pink; */
    background-color: darkgoldenrod;
    overflow-y: auto;
}